.app_bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 20px;
    background-color: white;
}

.app_bar_name {
    font-size: 1.5em;
    font-weight: 400;
}

.app_bar_button {
    font-size: 1em;
    border: thin solid grey;
    margin: 0 5px;
}

.profile_name {
    font-weight: bold;
}

.root_section {
    display: flex;
    flex-direction: column;
    margin: 100px 10%;
    height: calc(100% - 55px);
}

.login {
    display: flex;
    flex-direction: column;
    border: thin solid grey;
    padding: 15px 15px;
    border-radius: 10px;
}

.login_input {
    margin-bottom: 15px;
}

.login_button_section {
    display: flex;
    justify-content: center;
}

.login_button {
    width: 40%;
}

.create_survey_button {
    font-size: 2.5em;
    width: 50px;
    height: 50px;
    border-radius: 0;
    padding: 0;
}

.create_survey_button:hover {
    color: #1888C6;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.survey {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: thin solid grey;
    border-radius: 10px;
    width: 100%;
    padding: 20px 15px;
    margin: 15px 0;
}

.survey_question {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.survey_question_header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.survey_question_label {
    font-size: 1.3em;
}

.survey_cancel_button {
    font-size: 1em;
    border: thin solid grey;
    height: 35px;
}

.survey_answer {
    margin: 10px 0;
}

.survey_options {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.survey_options_label {
    font-size: 1.2em;
}

.survey_option {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.survey_option_in_preview {
    margin: 10px 0;
}

.survey_option_input {
    width: 80%;
}

.survey_option_preview {
    padding: 5px 0;
}

.survey_option_radio_input {
    margin-right: 10px;
}

.survey_buttons {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0 7px 0;
}

.survey_button {
    margin-left: 10px;
    font-size: 1em;
}

.no_survey_label {
    font-size: 1.3em;
}

.footer_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
    padding: 0 20px;
    background-color: white;
}

.page_item{
    margin-left: 10px;
}

.page_size {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.page_size_label {}

.page_size_input {
    text-align: center;
    width: 50%;
}

.page_number {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.page_number_label {}

.page_number_input {
    text-align: center;
    width: 35%;
}